<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WordNepaliSpellCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WordNepaliSpellCheck.SpellSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WordNepaliSpellCheck.WordSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WordNepaliSpellCheck.SpellSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WordNepaliSpellCheck.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </WordNepaliSpellCheck.Properties.Settings>
    <WordNepaliSpellCheck.SpellSettings>
      <setting name="remoteURL" serializeAs="String">
        <value>http://localhost:8085/spellSuggestion?query=</value>
      </setting>
      <setting name="serviceName" serializeAs="String">
        <value>SpellingService</value>
      </setting>
      <setting name="serviceRenewURL" serializeAs="String">
        <value>http://103.198.9.169/#/user/purchaseMsWordPlugin</value>
      </setting>
      <setting name="servicePaymentURL" serializeAs="String">
        <value>http://103.198.9.169/#/user/registerMsWordPlugin</value>
      </setting>
    </WordNepaliSpellCheck.SpellSettings>
    <WordNepaliSpellCheck.WordSettings>
      <setting name="remoteURL" serializeAs="String">
        <value>http://103.198.9.169:3000/npspell?query=</value>
      </setting>
    </WordNepaliSpellCheck.WordSettings>
  </applicationSettings>
  <userSettings>
    <WordNepaliSpellCheck.SpellSettings>
      <setting name="userSuggestionURL" serializeAs="String">
        <value>http://103.198.9.169/saayak-web-interface/mutation</value>
      </setting>
      <setting name="pingURL" serializeAs="String">
        <value>http://localhost:8085/spellSuggestion?query=</value>
      </setting>
    </WordNepaliSpellCheck.SpellSettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>